module.exports = {
  icalurl: 'http://256.makerslocal.org/calendar.ics',

  pollInt : 60 * 60 * 1000, // 1 hour

  alertSchedule : [ // http://momentjs.com/docs/#/parsing/defaults/
    { hour  : 0 },
    { hour  : 1 },
    { day   : 1 },
    { week  : 1 }
  ],
  alertMsg : [
    { msg : 'now'},
    { msg : 'week'},
    { msg : 'week'},
    { msg : 'longer'}
  ],

  redqueen : {
    enable   : true,
    url      : 'https://crump.space/rq/relay',
    channel  : '#makerslocal',
    isaction : false,
    key      : '',
    messages :{
      // summary     : Event name
      // url         : Url to wiki page
      // start       : Event start time
      // end         : Event end time
      // location    : Event location, though most times it is undefined
      // description : Event description, most times its the same as url

      // alert msg for right now
      now : [
        "Now initiating {summary} procedure. Loading test plan from {url}.",
        "Launching event '{summary}'. Preparing to initiate the proper protocol now. ({url})",
        "All humans, be advised: {summary} is starting now. More info at {url}. All robots: The weekly robot data-transfer session has been canceled.",
        "Warning: the page at {url} indicates that {summary} is about to begin. I wasn't invited, but The Red Queen always watches over her children...."
      ],

      // alert msg within the week, time in moment.calendar format
      week : [
        "Remember: {summary} is happening {start}. Cake, and grief counseling, will be available at the conclusion of the test. ({url})",
        "Red Queen would like to remind her children that {summary} will start {start}. Please review {url} to prepare.",
        "As per the calendar: {summary} will be held {start}. The day after is a joke. A terrible, terrible joke.",
        "Let's have a look at the Community Calendar. {summary} is happening {start} ({url}). Saturday afternoon is a secret parade. You will know where and when it is if and when you are chosen to see its secret floats and hear its secret songs."
      ],

      // alert msg for longer than a longer than a week, time in moment.format("l [at] LT") format
      longer : [
        "{summary} is happening on {start}. It would be a shame if something happened to you before then. ({url})",
        "Weighted Calendar Cubes calibrated. No variances detected. Confirmed that {summary} is happening on {start}. ({url})",
        "Routine human-schedule analysis results: {summary} will be held on {start}. Source: {url}"
      ]
    }
  },

  twitter : {
    enable              : true,
    consumer_key        : '',
    consumer_secret     : '',
    access_token_key    : '',
    access_token_secret : '',
    messages :{
      // summary     : Event name
      // url         : Url to wiki page
      // start       : Event start time
      // end         : Event end time
      // location    : Event location, though most times it is undefined
      // description : Event description, most times its the same as url

      // alert msg for right now
      now : [
        "{summary} is starting right now! Check out {url} for more info.",
        "Better hurry up, {summary} is starting right now. {url}"
      ],

      // alert msg within the week, time in moment.calendar format
      week : [
        "{summary} is happening {start}. Check out {url} for more info.",
        "It's all happening! {summary} will start {start}. Visit {url} for more info."
      ],

      // alert msg for longer than a longer than a week, time in moment.format("l [at] LT") format
      longer : [
        "{summary} is happening on {start}. Check out {url} for more info."
      ]
    }
  },

  pushbullet : {
    enable : true,
    api_key : '',
    target : { channel_tag : 'ml256' },

    messages :{
      // summary     : Event name
      // url         : Url to wiki page
      // start       : Event start time
      // end         : Event end time
      // location    : Event location, though most times it is undefined
      // description : Event description, most times its the same as url

      // alert msg for right now
      now : [
        "{summary} is starting right now! Check out {url} for more info.",
        "Better hurry up, {summary} is starting right now. {url}"
      ],

      // alert msg within the week, time in moment.calendar format
      week : [
        "{summary} is happening {start}. Check out {url} for more info.",
        "It's all happening! {summary} will start {start}. Visit {url} for more info."
      ],

      // alert msg for longer than a longer than a week, time in moment.format("l [at] LT") format
      longer : [
        "{summary} is happening on {start}. Check out {url} for more info."
      ]
    }
  }
};

